body {
background: white;
	}

div{
	background-color: black;
	padding: 25px;
	}

h1{
	color: white;
	background-color: black;
	border: 5px solid white;
	text-align: center;
	font-family: "Din";
	border-left: thick double white;
	border-right: thick double white;
	padding:10px;
	margin:10px;
	border-right-width: 15px;
	border-left-width: 15px;
	}

nav{
	text-align: center;
	margin:10px;
	padding:20px;
	font-family: "Din";
	color: white;
	}
	
a {
   	color: hotpink;
   	padding-right: 5px;
}

img[src="inesprofilepic.jpg"]{
	float: left;
	padding: 20px;
	height: 300px;
	width: 300px;
	}
img[src="portfolio1.jpg"]{
	padding: 20px;
	height: 400px;
	width: 400px;
	
	}
img[src="portfolio2.jpg"]{
	float: left;
	padding: 20px;
	height: 400px;
	width: 400px;
	

	}
img[src="portfolio3.jpg"]{
	float: left;
	padding: 20px;
	height: 400px;
	width: 400px;
	}


h2{
	color: hotpink;
		font-family: "Din";

	}
	h3{
	color: hotpink;
		font-family: "Din";
	}
p{
		font-family: "Din";
	}
ul {
	color: black;
		font-family: "Din";
    width: 1750px;
    padding: 0;
    margin: 0;
    overflow: auto;
}

li {
    width: 20%;
    float: left;
    margin: 2.5%;
}
